.agv-button
  border 1px solid mainColor
  color mainColor
  border-radius 3px
  padding 15px 10px
  background mainOpponent

  margin-bottom 15px
  @media up_to_M
    min-width 100%
  @media M_and_up
    min-width 15rem

  &:hover
    -webkit-transition all ease 0.3s
    transition all ease 0.3s
    background-color mainColor
    color mainOpponent
  &--primary, &--full-attention
    background-color mainColor
    border 1px solid mainColor
    color mainOpponent
    font-weight: bold;
    &:hover
      background-color darken(mainColor, 10%)
  &--full-attention
    min-width 100%
    font-size 1.3em

