.agv-form
  box-sizing border-box
  margin 0
  padding 0
  &__row
    font-size 1em
    &--phone
      display flex
    &--cta
      text-align right
    &--note
      color lighten(black, 85%)
      padding 0 .5rem
      margin 0
    &--checkbox
      padding-top .5em
      padding-bottom .5em



.agv-input
  width 100%
  &--citycode
    width 10rem
    backgro
  &--phone
    flex-grow
    flex-shrink 0
    width none
    margin-left .5rem
  &--textarea
    height 15rem
  input[type="checkbox"]&--checkbox
    -webkit-appearance checkbox
    padding 0
    margin 0
    
.agv-label
  display block
  &--checkbox
    display inline
