<div class="wrap">
<h2>Anmeldung</h2>
<form>
	<table id="BackendFormTable" cellpadding="0" cellspacing="0">
	
		<tr>
			<td>
			
			</td>
			<td class="ButtonsRight">
				<input type="submit" value="Speichern" class="button button-primary">
			</td>
		</tr>
	
		<tr>
			<td class="label">
				Bezeichnung: 
			</td>
			<td>
				<INPUT TYPE="text" name="bezeichnung" value="__Bezeichnung__" class="TextBox">
			</td>
		</tr>		

	</table>
</form>
</div>
