<div class="wrap submit">
	<h2>Neuer Mitarbeiter</h2>
	
	<a href="__USERPATH__">Nutzer anlegen</a>
	<br><br>
	
	<form action="__ACTIONURL__" method="POST">
		<input type="hidden" value="newMa" name="action">
		<select name="uid" class="TextBox">
			__USEROPTIONS__
		</select>
		<input type="submit" value="Zum Mitarbeiter machen">
		
	</form>
	<br>
Wird die entsprechende Person nicht in der Auswahlliste angezeigt, so muss sie noch als <a href="__USERPATH__">neuer User</a> 
angelegt werden (Nach unten scrollen).
</div> 