	<!--tr class="alternate">
		<td><b>__Bezeichnung__</b><br><br></td>
		<td></td>
	</tr>
	<tr class="alternate">
		<td colspan=2 class="text">
			__Arbeitszeit__h<br><br>
			__Preview__<br>
		</td>
	</tr>
	<tr class="alternate">
		<td>
		
		</td>
		<td class="more">
			<a href="__morelink__">Mehr...</a>
		</td>
	</tr>
	<tr>
		<td class="splitter"></td>
	</tr-->
	
	
<tr class="alternate">
	<td>
		__Bezeichnung__
	</td>
	<td>
		__Preview__
	</td>
	<td>
		__Bereichsleiter__
	</td>
	<td>
		<a href="__morelink__">Mehr..</a>
	</td>
</tr>