	<!--tr>
		<td><b></b><br><br></td>
		<td></td>
	</tr>
	<tr>
		<td colspan=2 class="text">
			__Arbeitszeit__h<br><br>
			<br>
		</td>
	</tr>
	<tr>
		<td>
		
		</td>
		<td class="more">
			<a href="">Mehr...</a>
		</td>
	</tr>
	<tr>
		<td class="splitter"></td>
	</tr-->

<tr>
	<td>
		__Bezeichnung__
	</td>
	<td>
		__Preview__
	</td>
	<td>
		__Bereichsleiter__
	</td>
	<td>
		<a href="__morelink__">Mehr..__dings__</a>
	</td>
</tr>