<table class="widefat" cellpadding=0 cellspacing=0>
	<thead>
	<tr>
		<th>
			Name
		</th>
		<th>
			Kurzbeschreibung
		</th>
		<th>
			&nbsp;
		</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>
			Gebet
		</td>
		<td>
			Loremipsum
		</td>
		<td>
			<a href="#">Mehr..</a>
		</td>
	</tr>
	<tr class="alternate">
		<td>
			Theken
		</td>
		<td>
			Loremipsum
		</td>
		<td>
			<a href="#">Mehr..</a>
		</td>
	</tr>
	<tr>
		<td>
			Putzteam
		</td>
		<td>
			loremipsum
		</td>
		<td>
			<a href="#">Mehr..</a>
		</td>
	</tr>
	</tbody>
</table>