<tr>
	<td>
		<input type="checkbox" name="__NAME__[]" value="__VALUE__">
		<img src="__X7URL__/style/icons/envelope.png" 
			alt="Absender f&uuml;r Bereichsmails" 
			alt="Absender f&uuml;r Bereichsmails" 
			[sif:__SENDER__:eq:1]/>
			
		<a href="__ACTIONURL__" alt="Zum Mailabsender f&uuml;r Bereichsmails erkl&auml;ren" title="Zum Mailabsender f&uuml;r Bereichsmails erkl&auml;ren">__TEXT__</a>
	</td>
	<td> 
		(Berechtigungen als: <a href="__USERPAGE__">__ROLES__</a>)
	</td>
</tr>