	<div width="100%" align="center" id="dashboard" >
	<table width="95%" cellpadding="0" cellspacing="0" border=0>
		<tr><td class="space" colspan="2"><b>Gesamtstatistik</b></td></tr>

		<tr>
			<td>
				Anzahl angemeldete Mitarbeiter:
			</td>
			<td class="count">
				__MITARBEITERCOUNT__
			</td>
		</tr>
		<tr>
			<td>
				davon Teilnahme am Aufbau:
			</td>
			<td class="count">
				__AUFBAUCOUNT__
			</td>
		</tr>
		<tr>
			<td>
				Anzahl eingecheckter Mitarbeiter:
			</td>
			<td class="count">
				__CHECKINCOUNT__
			</td>
		</tr>



		<!-- tr><td class="space" colspan="2">&nbsp;</td></tr>
		<tr>
			<td>
				Mitarbeiter mit Wunsch nach einem Bett:
			</td>
			<td class="count">
				__BEDCOUNT__
			</td>
		</tr>
			<tr>
			<td>
				Reservierte Familienzimmer:
			</td>
			<td class="count">
				__ROOMREQUESTCOUNT__
			</td>
		</tr -->

		<tr><td class="space" colspan="2">&nbsp;</td></tr>

		<tr>
			<td>
				Mitarbeiter im Schwimmerbereich:
			</td>
			<td class="count">
				__SCHWIMMERCOUNT__
			</td>
		</tr>
			<tr>
			<td>
				Mitarbeiter verschütt:
			</td>
			<td class="count">
				__LOSTCOUNT__
			</td>
		</tr>
	</table>
	</div>
