	<tr>
		<td><b>__Bezeichnung__</b><br></td>
		<td></td>
	</tr>
	<tr>
		<td colspan=2 class="text">
			<span [sif:__Preview__:neq:]>__Preview__<br></span>
		</td>
	</tr>
	<tr>
		<td>
		
		</td>
		<td class="more">
			<a href="__morelink__">Mehr...</a>
		</td>
	</tr>
	<tr>
		<td class="splitter"></td>
	</tr>