#footer, #wphead, #adminmenu, #submenu, #dashmenu, #user_info, #maSearch, a.arrow, #update-nag, .wrap h3 a, .imagenav
{
	display: none;	
}

/*Backend*/
#BackendFormTable td
{
	vertical-align:center;
	height: 30px;
	padding: 5px 5px 5px 5px ;
}
#BackendFormTable td.label
{
	padding-top: 7px;
	vertical-align: top;
	width: 250px;
	text-align: left;
}

#BackendFormTable
{
	width: 100%;
	padding: 10px 30px 10px 0px;
}

.change
{
	background: #CFEBF7;
}

.FsmaGroupSpacer
{
	height: 15px;
}

.FsmaMaAnchor td
{
	background: red;
	padding: 0 0 0 0;
}

.FsmaGroupHeaderRow
{
	background: #FFF;
	padding-top: 5px;
}

.FsmaGroupHeaderRow td
{
	border-top: 2px solid black;
	border-bottom: 1px dashed black;
	font-weight: bolder;	
}


.FsmaButton
{
	width: 100px;
}

.TextBox
{
	width: 350px;
}

.TextBoxShort
{
	width: 25px;
}

.DropDown
{
	width: 300px;
}

.TextArea
{
	width: 100%;
	height:350px;
}

.TextAreaShort
{
	width: 100%;
	height:100px;
}

.ButtonsRight
{
	text-align: right;
}

.disabled
{
	background: #E6E6E6;
	color: #666;
	font-style: italic;
}

.disabled .label
{
	color: #666;
	font-style: italic;
}

.disabled .FsmaButton
{
	color: #666;
	font-style: italic;
}

.disabled select
{
	background: #999;
	color: #bdbdbd;
	font-style: italic;
}

.Icon
{
	padding-left: 30px;	
	border: none;
}


.arrow
{
	border: none;
}

/* Your Own Footer When You Use FSMA */

#footer {
	/*clear: both;
	height: 35px;
	padding-left: 40px;
	margin: 15px 5%;
	background: url('images/logo-ghost.png') no-repeat top left;
	display: none;*/
}

#FsmaFooter {
	clear: both;
	margin: 15px 5%;
	background: #000000;
	/*background: url('img/jfilogo.gif') no-repeat top left;*/
}

/* Break WP's format for printing */
.widefat th
{
	background: white;
	color: black;
}

#morelink
{
	display: none;
}