/*Backend*/
.BackendFormTable td
{
	vertical-align:top;
	height: 30px;
	padding: 2px 5px 5px 0px ;	
}

.BackendFormTable td.InputCell
{
	text-align: left;	
}

.BackendFormTable td.label h3
{
	text-align: left;
}

.BackendFormTable td.label
{
	padding-top: 7px;
	vertical-align: top;	
	text-align: right;
	width: 25%;	
}

.BackendFormTable
{	
	padding: 10px 10px 10px 20px;
	width: 80%;
	
}

.separateBackendTable
{	
	padding: 10px;
	border-left: 2px;
	border-bottom: 3px;		
	border-color: #C0C0C0;	
	border-style: solid;
	width: 100%;
}

.inputField
{
	margin-left: 15px;	
}

.innerBackendTable
{
	width: 100%;	
}

.change
{
	background: #CFEBF7;
}

.FsmaGroupSpacer
{
	height: 15px;
}

.FsmaMaAnchor td
{
	background: red;
	padding: 0 0 0 0;
}

.FsmaGroupHeaderRow
{
	background: #f6f6f6;
	padding-top: 5px;
}

.FsmaGroupHeaderRow td
{
	border-top: 2px solid black;
	/*border-bottom: 1px dashed black;*/
	font-weight: bolder;	
}


.FsmaButton, .x7Button
{
	height: 30px;
    margin-right: 15px;
    width: 150px;
}

.TextBox
{
	width: 95%;	
}

.TextBoxShort
{
	width: 25px;
}

.DropDown
{
	width: 350px;
	height: 100px;
}

.TextArea
{
	width: 100%;
	height:350px;
}

.TextAreaShort
{
	width: 100%;
	height:100px;
}

.ButtonsRight
{
	text-align: right;	
}

.disabled
{
	background: #E6E6E6;
	color: #666;
	font-style: italic;
}

.disabled .label
{
	color: #666;
	font-style: italic;
}

.disabled .FsmaButton
{
	color: #666;
	font-style: italic;
}

.disabled select
{
	background: #999;
	color: #bdbdbd;
	font-style: italic;
}

.Icon
{
	padding-left: 30px;	
	border: none;
}


.agv-arrow
{
	border: none;
}

/* Your Own Footer When You Use FSMA */

.FsmaManualAdvice
{
	padding-left: 30px;
	color: black;
	text-decoration: none;	
}

#loginform a:link,#loginform a:visited,#loginform a:hover, #loginform a:active
{
	padding-left: 30px;
	color: black;
	text-decoration: none;	
}

/*Paging*/
.imagenav
{
	padding-left: 0px;
	padding-bottom: 1px;
	text-align: right;
	margin: 0 0 5px 0;
	width: 100%;
}

.imagenav td {
	padding-left: 5px;
	text-align: center;
}

.imagenav td.right
{
	text-align: right;	
}

.imagenav td.spacer {
	width: 100%;
}

.imagenav img{
	border: none;	
}

.imagenav td.left
{
	text-align: left;	
}

.imagenav td.middle
{
	text-align: center;	
	padding-bottom: 4px;
}

/*Tooltips*/
#box a {
color:black;	
text-decoration:none;
border:0px;
width: 50%;
}

#box a:hover {
color:black;
}

#box a span {display:none;}

#box a:hover span {
position:relative;
top:0px;
left:0px;
z-index:800;
display:block;
width:75%;
color:black;
background:#ffffff;
border:1px solid black;
padding:10px;}

#dashboard table td
{
	padding: 7px 0px 7px 0px;
	vertical-align: center;
	border-width: 0px 0px 1px 0px;
	border-bottom-style: solid;
	border-color: black;
	background: white;
	text-align: left;
}

#dashboard table td.count
{
	border-width: 0px 2px 2px 0px;
	border-right-style: solid;
	border-color: black;
	padding-left: 4px;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 7px;
	text-align: right;
}

#dashboard table td.space
{
	border: 0;
}

#dashboard table 
{
	background: black;
	border: 0;
}

.agv-bemerkung__content{
	display: none;
}

.agv-bemerkung__preview {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	line-height: 20px;
	height: 20px;
	position: relative;
}

.agv-bereich--deleted {
	display: none;
}

.agv-actions{
	float: right;
}

.agv-actions__button{
	width: auto;
	min-width: 7em;
}
