.FsmaError
{
	color: #ffffff;
	background:#cc0000;
	font-weight:bold;
}

.FormTable
{
	width: 100%;
	border: 1px solid #666666 ;	
	margin-top: 5px;
}

.FormTable td
{
	padding: 2px 4px 2px 4px;
}

.FormTable td.label
{
	padding-top: 5px;
	vertical-align: top;
	text-align: left;
}

.FormTable td.colspan2TextArea
{	
	padding: 2px 10px 2px 20px;
}

.FormTable input.final {
	width: 100%;
	height: 28px;
	font-weight: bold;
}

.checkBoxText
{
	vertical-align: top;
	margin-top: 7px;
	line-height: 20px;
}

#Bereiche
{
	width: 100%;	
}

#Bereiche tr
{
	/*background: #666;*/
	padding: 4px 4px 4px 4px ;
}

#Bereiche td
{
	padding: 4px 4px 4px 4px ;
	vertical-align: top;
}

#Bereiche td.text
{
	padding: 0 10px 0 10px;
	text-align: justify;
}

#Bereiche .alternate
{
	/*background: #333;*/
}

#Bereiche .splitter
{
	/*background: #444;*/
	height: 6px;
}

#Bereiche td.more
{
	text-align: right;
	padding-bottom: 10px;
	padding-right: 15px;
}

.TextArea
{
	width: 95%;
	height:150px;
	padding-right: 10px;
}

.TextBox
{
	width: 175px;
}

.TextBoxVorwahl
{
	width: 50px;
}

.TextBoxTele
{
	width: 108px;
}

/* DEBUGINFORMATIONFORMATS */
.debug
{
	background: white;
	color: black;
	font-size: 10px;
	font-family: Courier, sans-serif
}