.roomsOptionsContainer{	
	padding: 10px;
	border-bottom: 1px solid #DFDFDF;
	width: 100%;
	max-width: 825px;
}

.nav-tab{
	cursor: pointer;
}

.optionsList li{
	float: left;
	width: 30%;
	padding: 10px;
	height: 100%;
}


.optionsList {
	list-style-type:none;	
    display: block;    
   	overflow: hidden;   
   	margin: 0px;
}

.buttons {
	text-align: right;
}

.buttons button
{
	width: 200px;
	margin: 5px;
}

textarea
{
	width: 100%;	
	height: 18em;
}

label{
	display: block;
}
