#RoomRegistrationWrapper,
#RoomRegistrationWrapper form
{
	text-align: left;
}

#RoomRegistrationWrapper input[type=text],
#RoomRegistrationWrapper textarea
{
	width: 100%;
}

#RoomRegistrationWrapper textarea
{
	height: 250px;
}

#RoomRegistrationWrapper input[type=submit]{
	text-align: right;
}
