	<!--tr>
		<td><b></b><br><br></td>
		<td></td>
	</tr>
	<tr>
		<td colspan=2 class="text">
			__Arbeitszeit__h<br><br>
			<br>
		</td>
	</tr>
	<tr>
		<td>
		
		</td>
		<td class="more">
			<a href="">Mehr...</a>
		</td>
	</tr>
	<tr>
		<td class="splitter"></td>
	</tr-->

<tr>
	<td>
		<a href="__morelink__" [sif:__BID__:neq:-1]>__Bezeichnung__</a>
	</td>
	<td>
		__Preview__
	</td>
	<td>
		<img src="__X7URL__/style/icons/envelope.png" 
			alt="Absender f&uuml;r Bereichsmails" 
			alt="Absender f&uuml;r Bereichsmails"
			[sif:__SENDER__:neq:] 
			/>
			__Bereichsleiter__ 
		
	</td>
	<td>
		<a href="__morelink__" [sif:__BID__:neq:-1]>Mehr...</a>
	</td>
</tr>