<div id="update-nag" class="error"><a href="__FSMAURL__doc/Handbuch_Bereichsleiter.pdf" class="FsmaManualAdvice"><img src="__FSMAURL__style/icons/pdf.gif" border="0"> Benutzerhandbuch f&uuml;r Bereichsleiter</a></div>